In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('align_011.csv')

# 1.How big data is ?

In [5]:
df.shape

(1350, 4)

## HOW DOES DATA LOOK LIKE

In [10]:
df.head()

        Cancer       cancer   5.7  6.32
0         It's         it's  7.04  7.31
1            a            a  7.31  7.39
2  devastating  devastating  7.39  8.28
3      disease      disease  8.28  8.87
4         that         that  8.90  9.10

In [11]:
df.sample(5) # it will random data

          Cancer      cancer         5.7        6.32
1143       right       right  520.279999  520.519999
241        using       using  114.670000  115.170000
683   consisting  consisting  315.010000  315.710000
350        cells       cells  161.490000  161.860000
1037       grown       grown  473.350000  473.800000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1350 entries, 0 to 1349
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cancer  1350 non-null   object
 1   cancer  1347 non-null   object
 2   5.7     1347 non-null   float64
 3   6.32    1347 non-null   float64
dtypes: float64(2), object(2)
memory usage: 42.3+ KB

## Are there any missing values?

In [14]:
df.isnull().sum() # will give the missing values

Cancer    0
cancer    3
5.7       3
6.32      3
dtype: int64

## HOw does the data look mathmativcally?

In [15]:
df.describe()

               5.7         6.32
count  1347.000000  1347.000000
mean    308.776874   309.131388
std     175.420839   175.416550
min       7.040000     7.310000
25%     156.139999   156.215000
50%     311.910000   312.530000
75%     462.230000   462.550000
max     608.689999   608.749999

## Are htere duplicate values?

In [16]:
df.duplicated().sum()

0

## How is the correlaton between cols?

In [20]:
df.corr()['5.7']

ValueError: could not convert string to float: "It's"